/**** FLEX BOX NOTES ****/
  /* justify-content
    center
    flex-start
    flex-end
    space-around
    space-between
    space-evenly

  align-items (align-self)
    flex-start
    flex-end
    center
    baseline
    stretch

  align-content
    flex-start
    flex-end
    center
    space-between
    space-around
    space-evenly
    stretch

  flex-direction
      row
      row-reverse
      column
      column-reverse

  flex-wrap
      nowrap
      wrap
      wrap-reverse

  flex-basis (width), order, flex-grow/flex-shrink (relative size) */
/**** END FLEX BOX NOTES ****/


/**** CUSTOM FONTS ****/
@font-face {
  font-family: DupReg;
  src: url("../fonts/DuplicateSansRegular.otf") format("opentype");
}

@font-face {
  font-family: DupReg;
  font-weight: bold;
  src: url("../fonts/DuplicateSansBold.otf") format("opentype");
}
/**** END CUSTOM FONTS ****/

html, body, button, input {
  font-family: DupReg;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: black; */
}

button {
  background-color: transparent;
}

/**** LANDING PAGE ****/
  /**** LOOP ****/
  .endSearch {
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .endSearch h1 {
    font-size: 1.75vw;
    width: 35%;
    text-align: center;
  }

  .endSearch h2 {
    display: flex;
    width: 17.5vw;
    justify-content: space-around;
    font-size: 1.5vw;
    color: red;
    font-weight: bold;
    padding-top: 15%;
  }
  /**** END LOOP ****/

  /**** HEADER ****/
  button:focus {
    outline: none;
  }

  #container {
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    font-weight: bold;
    width: 90vw;
    /* border: 1px solid black; */
  }

  #letter {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #ff0000;
    font-size: 1.75vw;
    padding-left: 0px;
  }

  #letter h1 {
    padding-left: 2.5vw;
  }

  #logo {
    /* position: fixed;
    z-index: 1; */
    width: 5vw;
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  a {
    text-decoration: none;
    color: #ff0000;
  }

  a:visited {
    color: #ff0000;
  }

  .searchButton {
    width: 2.5vw;
  }

  #header>button {
    cursor: pointer;
    background-color: none;
    border: none;
    padding: 0px;
    z-index: 2;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /**** END HEADER ****/

  /**** PHOTO GRID ****/
  #imageLoad {
    width: 100%;
  }


  #entryGrid {
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15vh;
  }

  /* Create four equal columns that sit next to each other */
  .searchBlock {
    display: flex;
    justify-content: flex-start;
    font-size: 4vw;
    align-items: center;
    background-color: #FF1919;
    height: 25vw;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  .keyword {
    color: black;
  }

  .searchBlock:hover {
      cursor: pointer;
      background-color: black;
      color:white;
    }

    .searchBlock:hover .keyword {
      color:red;
    }

  .searchBlock h1 {
      padding-left: 10%;
      width: 90%;
    }

  .tableBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 30vw;
    outline: 2px solid red;
    margin-bottom: 20px;
  }

  /**** TABLE IN ENTRY PAGE ****/
  #tableContainer-Entry {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    background-color: none;
  }

  #topRow-Entry {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-bottom: 15px;
  }

  #bottomRow-Entry {
    display: flex;
    justify-content: flex-start;
    align-items: none;
    padding-top: 0px;
  }

  .tablePic-Entry img {
    max-width: 100%;
    padding: 0px 20px 0px 0px;
  }
  /**** END TABLE IN ENTRY PAGE ****/

  .tableBlock:hover{
    background-color: black;
    cursor: pointer;
  }

  .column {
    flex-direction: row-reverse;
    flex: 50%;
    max-width: 50%;
    padding: 0 10px;
  }

  .subColumns {
    display: flex;
    flex-direction: row;
  }

  .column figcaption {
    position: absolute;
    width: 100%;
    color: #fff;
    left: 0;
    top: 0;
    padding: 1em;
    font-weight: bold;
    font-size: 2.35vw;
    display: none;
    pointer-events: none;
  }

  .hoverLay {
    background-color: #FF1919;
    margin-bottom: 20px;
    position: relative;
  }

  .hoverLay img {
    display: block;
    max-width: 200%;
    height: auto;
  }

  .hoverLay img:hover {
    cursor: pointer;
    opacity: 0.1;
  }

  .hoverLay:hover figcaption{
    display: flex;
  }

  /**** END PHOTO GRID ****/
/**** END LANDING PAGE ****/


/**** SEARCH PAGE ****/
  /**** OVERLAY ****/
  #overlay {
    /* position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: -1; */
  }

  #resultsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
  }
  /**** END OVERLAY ****/

  /**** MENU ****/
  #menu {
    display: flex;
    width: 90vw;
    flex-direction: column;
    z-index: 2;
    margin-top: 18vh;

  }

  .textField>input {
    width: 90vw;
    background-color: transparent;
    border: 1px solid #979797;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 48px;
    border-radius: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    -webkit-appearance: none;
  }

  .textField>input:focus {
    outline: 0;
  }

   ::placeholder {
    color: #878787;
    /* Firefox */
  }

  #textUser {
    text-transform:capitalize;
  }

  #filters {
    margin-top: 2vh;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90vw;
    /* border: 1px solid black; */
  }

  #filters>button {
    /* color: white; */
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    /* Green */
    border: none;
    padding: 0px;
  }

  .filterActive, #filters>button:hover {
    color: red;
  }


  .filterActiveUnderline {
    text-decoration: underline;
    text-decoration-color: red;
  }

  .filterActive-TagClicked {
    color: red;
  }

  #filters>button:not(:first-child) {
    margin-left: 25px;
  }

  .Tags {
    margin-top: 2vh;
    display: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 85vw;
    /* border: 1px solid black; */
  }

  .TagsDisplay {
    display: block;
  }

  .Tags>p {
    font-size: 32px;
    line-height: 46px;
    word-spacing: 7.5px;
  }

  .Tags>p>button {
    /* color: white; */
    font-size: 32px;
    cursor: pointer;
    background-color: none;
    /* Green */
    border: none;
    padding: 0px;
  }

  .Tags>p>button:hover{
    text-decoration: underline;
    text-decoration-color: red;
  }

  .TagActive {
    color:red;
  }

  #filterResults h1 {
    padding-top: 50px;
  }

  #filterResults h1 span {
    color: red;
  }
  /**** END MENU ****/

  /**** SEARCH RESULTS ****/
  #resultsGrid {
    /* background-color: red; */
    width: 90vw;
    flex-direction:column;
    display: inline-flex;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 25px;
    justify-content: center;
  }

  .results-item figcaption {
    padding-top: 20px;
    text-align: center;
    color: black;
  }

  .results-item:hover figcaption {
    color: red;
    font-weight: bold;
  }


  .results-item {
    width: 250px;
    margin: 50px;
  }

  .results-item img {
    width: 100%;
    margin: 0px;
  }

  .results-item img:hover {
    outline: 5px solid red;
  }


  .colour {
    /* background-color: #8c72cb; */
  }
  /**** END SEARCH RESULTS ****/
/**** END SEARCH PAGE ****/

/**** ITEM PAGE ****/
#itemPage {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  flex-direction: column;
  padding-top: 100px;
}

  /**** MAIN IMAGES ****/
  #mainImages {
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #mainImages img {
    width: 28vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .prevNext {
    opacity: 0.25;
  }
  /**** END MAIN IMAGES ****/

  /**** META DATA ****/
  #metaData {
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    padding-top: 50px;
  }

  #itemDescription {
    font-size: 1.35vw;
    line-height: 120%;
  }

  #itemMetaData {
    display: flex;
    font-size: 1.10vw;
    background-color: none;
    /* margin-right: 11vw; */
    padding-left: 30.5vw;
    color: red;
  }

  #column2 {
    margin-left: 100px;
  }

  #showAllCont, #showLessCont {
    background: none;
  	color: inherit;
  	border: none;
  	padding: 0;
  	font: inherit;
  	cursor: pointer;
  	outline: inherit;
  }

  #showAllCont:hover, #showLessCont:hover {
    text-decoration: underline;
  }


  #itemDescription .title {
    font-weight: bold;
  }

  .title {
    color: black;
  }

    /**** THUMBNAILS GRID ****/
    #itemPage h1 {
      font-weight: bold;
      font-size: 1.35vw;
      padding-left: 100px;
    }

    #thumbnailscontainer {
      width: 90vw;
      justify-content: space-between;
      align-items: flex-end;
      display: flex;
      font-size: 1.15vw;
      font-weight: bold;
      padding-top: 50px;
      margin-bottom: 100px;
      z-index: 0;
      /* background-color: green; */
    }

    #thumbnails {
      display: grid;
      justify-content: flex-start;
      grid-gap: 15px;
      grid-template-columns: repeat(3, 13.5vw);
      align-items: center;
      padding-top: 20px;
    }

    #thumbnails div:hover {
      /* outline: 3px solid red; */
      cursor: pointer;
    }

    .thumbnailPic:hover {
      outline: 3px solid red;
    }

    #thumb001 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #thumb001 img {
      width: 50%;
      align-content: center;
    }

    #thumb001 a:hover {
      outline: 3px solid red;
    }

    .thumbnailPic img {
      max-width: 100%;
    }

    .thumbnailPic img:hover, #thumb001 img:hover {
      outline: 3px solid red;
    }

    #morePics {
      display: none;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      width: 100%;
      height: 9vh;
      font-size: 1.10vw;
      color: #ED1B2E;
      font-weight: normal;
      background-color: #FFF2F2;
    }

    #morePics:hover {
      cursor: pointer;
      outline: 3px solid red;
    }
    /**** END THUMBNAILS GRID ****/

    /**** TABLE ****/
      #tableContainer {
        width: 45%;
        height: 96.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        outline: 1px solid red;
        background-color: none;
      }

      #topRow {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        padding-bottom: 15px;
      }

      #bottomRow {
        display: flex;
        justify-content: flex-start;
        align-items: none;
        padding-top: 0px;
      }

      .tablePic img {
        max-width: 100%;
        padding: 0px 20px 0px 0px;
      }
    /**** END TABLE ****/

    /**** ZOOM ITEMS ****/
    #itemZoomButtons {
      display: flex;
      flex-direction: row;
    }

    #itemZoomButtons>button {
      cursor: pointer;
      background-color: none;
      border: none;
    }
    .zoomItems {
      padding-top: 100px;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-gap: 50px;
      padding-bottom: 100px;
      z-index: 0;
    }

    .zoomItemsScroll {
      grid-template-columns: repeat(1, 90vw);
    }

    .zoomItemsGrid {
      grid-template-columns: repeat(4, 17.85vw);
    }

    #zoomItems img:hover {
      outline: none;
    }
    /**** END ZOOM ITEMS ****/
  /**** END META DATA ****/
/**** END ITEM PAGE ****/

/**** FOOTER ****/
footer {
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
}

#footerItems {
  padding: 2.5vw 0 2.5vw 0;
  display: flex;
  width: 90vw;
  justify-content: space-between;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 1.25vw;
}

#contact a:hover {
  text-decoration: underline;
}

#socialMedia a {
  display: flex;
}

#socialMedia img {
  width: 4vw;
  padding-left: 20px;
}


/**** END FOOTER ****/
