@media (max-width: 576px) {
  /**** MAIN CONTAINER ****/
  #container {
    justify-content: center;
  }
  /**** END MAIN CONTAINER ****/

  /**** HEADER ****/
  #letter h1 {
    display: none;
    color: #ff0000;
  }

  #letter {
    padding-left: 0px;
  }
  /**** END HEADER ****/

  /**** ITEM PAGE ****/
    /**** MAIN IMAGES ****/
    #mainImages img {
      width: 60vw;
      margin-left: 20px;
      margin-right: 20px;
    }
    /**** END MAIN IMAGES ****/

    /**** META DATA ****/
    #metaData {
      flex-direction: column;
      background-color: none;
      padding-top: 40px;
      padding-left: 20px;
    }

    #itemMetaData {
      padding-top: 40px;
      width: 375px;
    }

    #column2 {
      padding-left: 0px;
    }

    #thumbnailscontainer {
      padding-top: 20px;
      margin: 0;
    }

    #thumbnails {
      grid-template-columns: repeat(1, 90vw);
    }

    /**** END META DATA ****/
  /**** END ITEM PAGE ****/
}

@media (max-width: 1000px) {
  /**** MAIN CONTAINTER ****/
  .loop {
    display: none;
  }
  /**** MAIN CONTAINTER ****/

  /**** SEARCH PAGE ****/
    /**** MENU ****/
    #filters {
      margin-top: 2vh;
      display: flex;
      flex-direction: column;
    }

    #filters > button:not(:first-child) {
      margin-left: 2.5px;
    }

    #filters > button {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
    }
    /**** END MENU ****/
  /**** END SEARCH PAGE ****/


  /**** LANDING PAGE ****/
    /**** PHOTO GRID ****/
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
    /**** END PHOTO GRID ****/
  /**** END LANDING PAGE ****/


  /**** META DATA ****/
    /**** THUMBNAILS GRID ****/
    #itemPage h1 {
      padding-left: 100px;
    }

    #itemDescription {
      font-size: 16px;
    }

    #itemMetaData {
      font-size: 14px;
      /* padding-right: 10vw; */
    }

    #itemPage h1 {
      font-size: 16px;
    }

    #thumbnailscontainer span {
      font-size: 16px;
    }

    #morePics {
      font-size: 14px;
    }
    /**** END THUMBNAILS GRID ****/
  /**** END META DATA ****/
}

@media (max-width: 992px) {

}

@media (min-width: 1500px) {
  #mainImages img {
    width: 35vw;
  }

}
