@media (max-width: 576px) {
  /**** MAIN CONTAINER ****/

  /**** END MAIN CONTAINER ****/

  /**** HEADER ****/
  #letter h1 {
    display: none;
    color: #ff0000;
  }

  #letter {
    padding-left: 0px;
    font-size: 22.5px;
  }

  #logo {
    width: 65px;
  }

  .searchButton {
    width: 20px;
  }
  /**** END HEADER ****/


  /**** LANDING PAGE ****/

    #entryGrid {
      width: 90vw;
    }
    /**** PHOTO GRID ****/
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }

    .subColumns .column:nth-child(1) {
      padding-left: 0px;
    }

    .searchBlock {
      justify-content: flex-start;
      font-size: 5.35vw;
      font-size: 14px;
      align-items: center;
      height: 45vw;
    }

    #subColumn009 {
      padding-left: 0px;
    }

    #subColumn010 {
      padding-left: 0px;
    }

    #subColumn011 {
      padding-left: 0px;
    }

    #subColumn012 {
      padding-left: 0px;
    }

    #subColumn013 {
      padding-left: 0px;
    }

    #subColumn014 {
      padding-left: 0px;
    }

    #subColumn015 {
      padding-left: 0px;
    }

    #subColumn016 {
      padding-left: 0px;
    }

    .searchBlockLeft {
      margin-left: 0px;
    }

    .tableBlock {
      height: 60vw;
    }

    .searchBlock h1 {
      font-size: 7vw;
      font-size: 20px;
    }

    .column figcaption {
      font-size: 4.75vw;
      font-size: 18px;
    }
    /**** END PHOTO GRID ****/

    /**** END SEARCH ***/
    .endSearch {

    }

    .endSearch h1 {
      font-size: 4.75vw;
      font-size: 14px;
      width: 85%;
      text-align: center;
    }

    .endSearch h2 {
      display: flex;
      justify-content: center;
      justify-content: space-around;
      width: 100%;
      font-size: 4.75vw;
      font-size: 14px;
      color: red;
      font-weight: normal;
      padding-top: 20%;
    }

    .endSearch h2 img {
      padding-right: 0px;
      height: auto;
      width: auto;
    }
    /**** END SEARCH ***/

  /**** END LANDING PAGE ****/

  /**** SEARCH PAGE ****/
    /**** MENU ****/
    .textField>input {
      width: 100%;
      background-color: transparent;
      border: 1px solid #979797;
      border-top: none;
      border-left: none;
      border-right: none;
      font-size: 30px;
    }

    #filters {
      margin-top: 2vh;
      display: flex;
      flex-direction: column;
    }

    #filters > button:not(:first-child) {
      margin-left: 0px;
    }

    #filters > button {
      font-size: 14px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
    }

    .Tags>p, .Tags>p>button {
      font-size: 30px;
      line-height: 40px;
    }


    /**** END MENU ****/

    .tooltip {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;
      position: relative;
    }

    .tooltip span {
      display: flex;
      background-color: white;
      color: black;
      font-weight: normal;
      margin: 2vw;
      text-align: center;
    }

    .tooltip:hover span {
      display: block;
      position: static;
      overflow: hidden;
    }
  /**** END SEARCH PAGE ****/

  /**** ITEM PAGE ****/
    #itemPage {
      padding-top: 100px;
    }

    #filmStrip img {
      margin-top: 10vw;
      height: 20vw;
    }

    #filmStrip img:hover {
      outline: 3px solid red;
      outline-offset: -3px;
      cursor: pointer;
    }

    .scroll1::-webkit-scrollbar {
      height: 2vw;
    }

    /**** MAIN IMAGES ****/
    #mainImages img {
      height: auto;
      width: 50vh;
    }
    /**** END MAIN IMAGES ****/

    /**** META DATA ****/
    #metaData {
      flex-direction: column;
      padding-top: 40px;
      padding-left: 0px;
    }

    #itemDescription {
      font-size: 18px;
    }

    #itemMetaData {
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-size: 14px;
      padding-top: 40px;
      padding-left: 0vw;
    }

    #itemMetaData #column1, #itemMetaData #column2{
      width: 50%;
      box-sizing: border-box;
      padding-right: 20px;
    }

    #itemMetaData #column2{
      margin-left: 0px;
    }

    #thumbGrid {
      font-size: 14px;
      width: 100%;
    }

    #relatedItems {
      padding-top: 10px;
    }

    #relatedItems {
      padding-top: 10px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    #relatedItems figcaption {
      font-size: 14px;
    }

    #thumbGrid img {
      width: 43vw;
    }
    /**** END META DATA ****/

    /**** THUMBNAILS GRID ****/
    #thumbnailscontainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }

    #thumbnailscontainer span {
      font-size: 14px;
    }

    #thumbnails {
      grid-template-columns: repeat(3, 29vw);
    }

    #morePics {
      font-size: 14px;
      height: 7vh;
    }
    /**** END THUMBNAILS GRID ****/

    /**** ZOOM ITEMS ****/
    .zoomItems {
      grid-gap: 17.5px;
    }
    /**** END ZOOM ITEMS ****/

    /**** TABLE ****/
    #tableContainer {
      font-size: 14px;
      width: 95vw;
      height: 80vw;
      margin-top: 50px;
      padding-left: 10px;
    }
    /**** END TABLE ****/
  /**** END ITEM PAGE ****/

  /**** FOOTER ****/
  #contact {
    font-size: 4vw;
    font-size: 14px;
  }

  #socialMedia {
    flex-direction: column;
  }

  #socialMedia img {
    width: 12.5vw;
  }

  #footerItems {
    padding: 7.5vw 0 7.5vw 0;
  }
  /**** END FOOTER ****/
}

@media (min-width: 1500px) {

}
