/*
justify-content
  center
  flex-start
  flex-end
  space-around
  space-between

align-items (align-self)
  flex-start
  flex-end
  center
  baseline
  stretch


align-content
  flex-start
  flex-end
  center
  space-between
  space-around
  stretch

flex-direction
    row
    row-reverse
    column
    column-reverse

flex-wrap
    nowrap
    wrap
    wrap-reverse

flex-basis (width), order, flex-grow/flex-shrink (relative size)
*/

html {
  background-color: white;
  font-family: sans-serif;
}

.container {
  padding-top: 4vh;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  width: 92.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

.letter {
  font-weight: bold;
  color: #ff0000;
  font-size: 22.5px;
  padding-left: 2vw;
}

.logo {
  width: 65px;
  animation-name: spin;
  animation-duration: 6500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.searchGlass {
  width: 25px;
}

.textField {
  padding-top: 7.5vh;
}

.textField > input {
  width: 90vw;
  height: 48px;
  border: 1px solid #979797;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 48px;
  padding-bottom: 15px;
}

.textField > input:focus {
  outline:0;
}

::placeholder {
  color: #D4D4D4;
  opacity: 1; /* Firefox */
}

.filters {
  margin-top: 2vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90vw;
  /* border: 1px solid black; */
}

.filters > button {
  cursor: pointer;
  font-size: 16px;
  background-color: none; /* Green */
  border: none;
  padding: 0px;
}

.filters > button:hover {
  color:red;
}

.filters > button:focus {
  outline:0;
}

.filters > button:not(:first-child) {
  margin-left: 25px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
